---
name: Tag & Release
'on':
  push:
    branches: {% for release in releases %}
      - stackhpc/{{ release }} {% endfor %}
jobs:
  tag-and-release:
    uses: stackhpc/.github/.github/workflows/tag-and-release.yml@main
